{
  "mainColor" : [182, 204, 255],
  "dayTransitionTime" : 200.0,
  "skyLevelExponent" : 0.3,

  "flyMaxVelocity" : 5000,
  "starVelocityFactor" : 0.2,
  "correctionPower" : 0.00,

  "speedupTime" : 1.0,
  "hyperspaceSpeedupTime" : 2.4,
  "flyingTimer" : 4.0,
  "slowdownTime" : 1.0,
  "hyperspaceSlowdownTime" : 2.0,
  "flashTimer" : 0.0,
  "disembarkOrigin" : {
    "offset" : [0, 0], "rotation" : 0
  },

  "disembarkPath" : [
    {
      // where you're going, how are you rotated in degrees, how much time does it take to get there
      "offset" : [300, 300], "rotation" : -45.0, "time" : 2.0
    }
  ],

  "spaceDisembarkOrigin" : {
    "offset" : [0, 0], "rotation" : 0.0
  },

  "spaceDisembarkPath" : [
    {
      "offset" : [0.0, 0.0], "rotation": 0.0, "time" : 0.1
    }
  ],

  "arrivalOrigin" : {
    "offset" : [-300, 300], "rotation" : 45.0
  },

  "arrivalPath" : [
    {
      "offset" : [0, 0], "rotation" : 0, "time" : 2.0
    }
  ],

  "spaceArrivalOrigin" : {
    "offset" : [0, 0], "rotation" : 0.0
  },

  "spaceArrivalPath" : [
    {
      "offset" : [0, 0], "rotation": 0.0, "time" : 0.1
    }
  ],

  "sun" : {
    "image" : "/sky/orbitals/sun.png",
    "radius" : 250
  },

  "planetHorizon" : {
    "scale" : 0.5,
    "yCenter" : -700,
    "cloudCount" : [30, 60],
    "cloudRadius" : [740, 810],
    "cloudSpeed" : [0.2, 0.3],
    "clouds" : [
      "/sky/orbitals/cloud2.png",
      "/sky/orbitals/cloud3.png",
      "/sky/orbitals/cloud4.png"
    ]
  },

  "spaceDebrisFields" : [
    {
      "velocityRange" : [-1, 2],
      "cellSize" : 400,
      "screenBuffer" : 1000,
      "cellCountRange" : [1, 2],
      "angularVelocityRange" : [-5, 5],

      "list" : [
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/4.png",
        "/sky/glitters/6.png",
        "/sky/glitters/8.png",
        "/sky/glitters/10.png",
        "/sky/glitters/11.png"
      ]
    },
    {
      "velocityRange" : [-1, 2],
      "cellSize" : 400,
      "screenBuffer" : 1000,
      "cellCountRange" : [1, 1],
      "angularVelocityRange" : [-5, 5],

      "list" : [
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/4.png",
        "/sky/glitters/6.png",
        "/sky/glitters/8.png",
        "/sky/glitters/10.png",
        "/sky/glitters/11.png"
      ]
    },
    {
      "velocityRange" : [-1, 2],
      "cellSize" : 400,
      "screenBuffer" : 1000,
      "cellCountRange" : [1, 1],
      "angularVelocityRange" : [-5, 5],

      "list" : [
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/1.png",
        "/sky/glitters/4.png",
        "/sky/glitters/6.png",
        "/sky/glitters/8.png",
        "/sky/glitters/10.png",
        "/sky/glitters/11.png"
      ]
    },
    {
      "velocityRange" : [0, 0],
      "cellSize" : 2000,
      "screenBuffer" : 1000,
      "cellCountRange" : [0, 1],
      "angularVelocityRange" : [0, 0],

      "list" : [
        "/sky/glitters/bunny_stars.png"
      ]
    }
  ],

  "satellite" : {
    "planetScale" : 3.0,
    "moonScale" : 1.5,
    "area" : [400, 400]
  },

  "stars" : {
    "cellSize" : 180,
    "screenBuffer" : 4,
    "cellCount" : [80, 80],
    "twinkleMin" : 1.0,
    "twinkleMax" : 2.5,

    "frames" : 4,
    "list" : [
      "/sky/stars/bigb_star.png",
      "/sky/stars/bigr_star.png",
      "/sky/stars/bigw_star.png",
      "/sky/stars/bigy_star.png",
      "/sky/stars/mediumb_star.png",
      "/sky/stars/smallerw_star.png",
      "/sky/stars/smallr_star.png",
      "/sky/stars/smallw_star.png",
      "/sky/stars/smally_star.png",
      "/sky/stars/transw_star.png",
      "/sky/stars/transy_star.png"
    ],
    "hyperlist" : [
      "/sky/stars/warp1.png",
      "/sky/stars/warp2.png",
      "/sky/stars/warp3.png",
      "/sky/stars/warp4.png",
      "/sky/stars/warp5.png"
    ]
  },

  "engineAudio" : "/sfx/interface/ship_thrusters.ogg",
  "hyperspaceAudio" : "/sfx/interface/hyperspace_loop.ogg",
  "enterHyperspaceAudio" : "/sfx/interface/hyperspace_start.ogg",
  "exitHyperspaceAudio" : "/sfx/interface/hyperspace_end.ogg",
  "arrivalAudio" : "/sfx/interface/thruster_off.ogg",
  "enterHyperspaceAudioLeadIn" : 2.4,
  "exitHyperspaceAudioLeadIn" : 2.1,
  "engineCrossfadeTime" : 0
}
